@font-face {
    src: url('./../font.general/Oregano-Regular.ttf');
    font-family: title;
}

@font-face {
    src: url('./../font.general/Nunito-Regular.ttf');
    font-family: content;
}

:root {
    --max-width: 1200px;
    --padding: 50px;
    --header-height: 90px;
}

main {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: content;
    outline: none;
    border-style: none;
}

img {
    pointer-events: none;
}

@media (max-width: 500px) {
    * {
        --padding: 25px;
    }
}

@media (max-width: 400px) {
    * {
        --padding: 10px;
    }
}

@media (max-width: 300px) {
    * {
        --padding: 5px;
    }
}


body.dark {
    background: #292d3e;
}

/* _____________ SCROLL _ STYLES ________________ */
.scroll-style::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

.scroll-style::-webkit-scrollbar-thumb {
    background: var(--primary_background);
    border-radius: 7px;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
    background: var(--primary_background_hover);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scroll-style::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
