:root {
    --color-danger: #c71c22;
    --color-info: #2fa4e7;
    --color-warn: #eab518;
    --color-success: #73a839;
    
    --color1-bg: #ffffff;
    --color1-bg-translucent: rgba(255, 255, 255, 0.71);
    --color1-txt: #000000;
    
    --color2-bg: #c18e37;
    --color2-txt: #000000;
    
    --color-filter1-bg: linear-gradient(rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 10%, rgba(250, 195, 20, 0.36) 30%);
}

body.dark {}
