slider {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(50vh - var(--header-height));
    margin-top: 20px;
    padding: 0 var(--padding);
}

slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.swiper {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    border-radius: var(--radio);
    box-shadow: var(--shadow);
}


.swiper:before {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 100;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: var(--color-filter1-bg);
}

@media (max-width: 900px) {
    slider {
        height: auto;
        aspect-ratio: 2/1;
    }
}
